* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v36_473 {
  width: 611px;
  height: 334px;
  background: linear-gradient(rgba(56,56,56,1), rgba(47,45,45,0));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v36_474 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 347px;
  left: 88px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_475 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 285px;
  left: 21px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_476 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 224px;
  left: 130px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_477 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 160px;
  left: 243px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_478 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 98px;
  left: 351px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_479 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 459px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_480 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 442px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_481 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 347px;
  left: 229px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_482 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 306px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_483 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 57px;
  left: 414px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_484 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 295px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_485 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 86px;
  left: 403px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_486 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 175px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_487 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 57px;
  left: 283px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_488 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 118px;
  left: 391px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_489 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 164px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_490 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 89px;
  left: 272px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_491 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 150px;
  left: 380px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_492 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 192px;
  left: 291px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_493 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 39px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_494 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 57px;
  left: 147px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_495 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 118px;
  left: 255px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_496 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 106px;
  left: 199px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_497 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 18px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_498 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 81px;
  left: 131px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_499 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 143px;
  left: 239px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_500 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 204px;
  left: 347px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_501 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 441px;
  left: 41px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_502 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 162px;
  left: 522px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_503 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 101px;
  left: 630px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_504 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 567px;
  left: 120px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_505 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 505px;
  left: 12px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_506 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 444px;
  left: 97px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_507 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 535px;
  left: 5px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_508 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 473px;
  left: 113px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_509 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 225px;
  left: 551px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_510 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 629px;
  left: 86px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_511 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 567px;
  left: 22px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_512 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 506px;
  left: 131px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_513 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 442px;
  left: 244px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_514 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 317px;
  left: 104px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_515 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 255px;
  left: 4px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_516 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 194px;
  left: 113px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_517 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 130px;
  left: 226px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_518 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 68px;
  left: 334px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_519 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 442px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_520 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 290px;
  left: 120px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_521 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 228px;
  left: 12px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_522 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 167px;
  left: 97px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_523 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 103px;
  left: 210px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_524 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 41px;
  left: 318px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_525 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 426px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_526 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 261px;
  left: 137px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_527 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 199px;
  left: 29px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_528 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 138px;
  left: 80px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_529 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 193px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_530 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 301px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_531 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 409px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_532 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 293px;
  left: 263px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_533 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 231px;
  left: 155px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_534 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 170px;
  left: 46px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_535 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 106px;
  left: 67px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_536 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 44px;
  left: 175px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_537 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 283px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_538 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 266px;
  left: 278px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_539 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 204px;
  left: 170px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_540 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 143px;
  left: 61px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_541 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 79px;
  left: 52px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_542 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 160px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_543 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 44px;
  left: 268px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_544 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 240px;
  left: 291px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_545 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 178px;
  left: 183px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_546 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 117px;
  left: 74px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_547 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 53px;
  left: 39px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_548 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 147px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_549 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70px;
  left: 255px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_550 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 213px;
  left: 303px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_551 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 195px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_552 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 86px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_553 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 27px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_554 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 135px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_555 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 97px;
  left: 243px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_556 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 186px;
  left: 317px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_557 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 209px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_558 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 63px;
  left: 100px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_559 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 13px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_560 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 63px;
  left: 121px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_561 {
  width: 297px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 229px;
  text-shadow: 0px 4px 4px rgba(0.6791666746139526, 0.6791666746139526, 0.6791666746139526, 0.49000000953674316);
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: rotate(-29deg);
}
.v36_562 {
  width: 261px;
  height: 236px;
  background: rgba(217,217,217,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 166px;
  border: 1px solid rgba(143,0,0,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v36_563 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 72px;
  left: 257px;
  font-family: Fira Code;
  //font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v36_564 {
  width: 177px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 210px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v36_565 {
  width: 177px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 210px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v36_566 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 111px;
  left: 268px;
  font-family: Roboto;
  //font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v36_567 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 164px;
  left: 267px;
  font-family: Roboto;
  //font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v36_568 {
  width: 44px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 361px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v36_570 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 240px;
  left: 183px;
  font-family: Roboto;
  //font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
