.backgrnd
{
    background-color: #383838;
    height: 100vh;
    width: 100vw;
}


.overlay
{
    position: relative;
    top: 5%;
   
    width: 90%;
    height: 90%;
    margin: 0 auto;
    
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.page_name
{
    position: relative;
    margin: 0 auto;
    top: 3%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 84px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}


.label_name
{

    width: 30%;
    height: 10%;
    position: relative;
  
    top: 2%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
}

.name
{
    position: relative;
    left: 37%;
    top: 0%;
    width: 25%;
    height: 5%;
    color: #000000;
    margin: 0 auto;
    background: #edeeee;
    border: 2px solid #000000;

}

.label_surname
{

    width: 30%;
    height: 10%;
    position: relative;
    
    top: -2%; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
}

.surname
{
    position: relative;
    left: 37%;
    top: -4%;
    width: 25%;
    height: 5%;
    color: #000000;
    margin: 0 auto;
    background: #edeeee;
    border: 2px solid #000000;

}

.label_email
{

    width: 30%;
    height: 10%;
    position: relative;
    top: -6%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
}

.email
{
    position: relative;
    left: 37%;
    top: -8%;
    width: 25%;
    height: 5%;
    color: #000000;
    margin: 0 auto;
    background: #edeeee;
    border: 2px solid #000000;

}

.label_password
{

    width: 30%;
    height: 10%;
    position: relative;

    top: -10%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
}

.password
{
    position: relative;
    left: 37%;
    top: -12%;

    width: 25%;
    height: 5%;
    color: #000000;
    margin: 0 auto;
    background: #edeeee;
    border: 2px solid #000000;

}

.btnGeneratePassword
{
    background: #000000;
    color: #FFFFFF;
    position: relative;
    left: 38%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 4%;
    top: -1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-color: transparent;

}

.label_role
{

    width: 30%;
    height: 10%;
    position: relative;
    top: -14%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
}

.role
{
    position: relative;
    top: -16%;
    left: -0.5%;
    width: 25%;
    height: 5.4%;
    color: #000000;
    margin: 0 auto;
    background: #edeeee;
    border: 2px solid #000000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.btnFinish
{
    background: #CF0000;
    color: #FFFFFF;
    position: relative;
    bottom: -5%;
    width: 10%;
    left: 45%;
    height: 6%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-color: transparent;

    

}

