.background
{
    position: absolute;
    background-color: #383838;
    width: 100%;
    height: 100%;
}

.overlay
{
    position: relative;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: #FFFFFF;
    border: 2px solid black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page_name
{
    margin-top: 2%;
    margin-bottom: 2%;
    top: 64px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 84px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}


.label_name
{
    position: relative;
    width: 30%;
    left: auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
}

.name
{
    width: 40%;
    left: 30%;
}

.label_surname
{
    position: relative;
    width: 30%;
    left: auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
}

.surname
{
    width: 40%;
    left: 30%;
}

.label_email
{
    position: relative;
    width: 30%;
    left: auto;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 257%;
}

.email
{
    width: 40%;
    left: 30%;
}

.label_input{
    position: relative;
    height: fit-content;
    margin: 0 auto;
    padding: 10px;
}

.change_password{
    background: black;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    border: 1px solid black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.finish{
    background: #CF0000;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    border: 1px solid black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.buttons{
    padding-top: 30px;
    position: relative;
    height: fit-content;
    margin: 0 auto;
    width: fit-content;
}
