.aboutBackground{
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 90%;
    width: 98%;
    position: relative;
    margin: 0 auto;
}
.aboutInfo{
    width: 90%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 5%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    overflow-y: scroll;
}
.aboutInfo::-webkit-scrollbar{
    display: none;
}
.aboutTitle{
    font-size: 40px;
}
.aboutSubTitle{
    font-size: 24px;
}
.aboutData{
    font-size: 18px;
}
.contactUsInfo{
    width: 90%;
    height: 15%;
    position: relative;
    top: 0;
    left: 5%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.contactUsTitle{
    font-size: 40px;
}
.contactUsData{
    font-size: 18px;
}
.emailIcon{
    font-size: 1.5em;
}