.approveAccessRequestPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popupBackground{
    width: 50%;
    height: 70%;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 25%;
}
.approveAccessRequestPopupBorder {
    border: 2px solid #858585;
    width: 94%;
    height: 92%;
    margin: 0 auto;
    position: relative;
    top: 4%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.approveAccessRequestPopupBorder::-webkit-scrollbar{
    display: none;
}
.approveAccessRequestBackButton {
    background-color: #00003E;
    border: none;
    position: relative;
    height: 6%;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.approveAccessRequestBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.approveAccessRequestTitle {
    width: fit-content;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    margin: 0 auto;
    margin-bottom: 4vh;
}
.approveAccessRequestDatascopeLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 15%;
}
.approveAccessRequestDatascopeNameDisplay {
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
    width: 70%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: relative;
    left: 15%;
}
.approveAccessRequestRoleLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 15%;
}
.approveAccessRequestRoleDisplay {
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
    width: 70%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: relative;
    left: 15%;
}
.approveAccessRequestReasonLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 15%;
}
.approveAccessRequestReasonDisplay {
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
    width: 70%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: relative;
    left: 15%;
}
.approveAccessRequestStatusLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 15%;
    top: -0.5vh;
}
.approveAccessRequestStatusDisplay {
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
    width: 70%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: relative;
    left: 15%;
    top: -0.5vh;
}
.approveAccessRequestButtonsDiv{
    display: flex;
    height: 20%;
    width: 90%;
    padding: 0;
    position: relative;
    left: 15%;
    justify-content: left;
    vertical-align: center;
    top: -1vh;
}
.approveAccessRequestApproveButton{
    color: #ffffff;
    background: green;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.5% 2%;
    width: fit-content;
    position: relative;
    height: 30%;
    margin: 2% 0;
    border: none;
}
.approveAccessRequestRejectButton{
    width: fit-content;
    background-color: rgba(233, 0, 0, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 0.5% 2%;
    position: relative;
    height: 30%;
    margin-left: 2%;
    margin-top:  2%;
    border: none;
}
