.accessHelpButton{
    background-color: transparent;
    border: none;
    outline: none;
    left: 1vw;
    top: 2vh;
    position: absolute;
    z-index: 1000;
}
.accessHelpPopupIcon {
    font-size: 2em;
    color: #9E0000;
}
.accessRequestsBackground{
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    height: 90%;
    width: 98%;
    position: relative;
    margin: 0 auto;
}
.searchAccessRequests{
    display: flex;
    width: 100%;
    position: relative;
    right: 5%;
    justify-content: right;
    height: 20%;
    top: 0;
}
.accessRequestsSearchInput{
    background-color: #CECECE;
    height: 3vh;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #383838;
    padding-right: 0;
    padding-left: 10px;
    position: relative;
    top: 45%;
    font-size: 16px;
}
.accessRequestsSearchInput:focus{
    border: 2px solid #9E0000;
}
.accessRequestsSearchIcon
{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0.5vh;
    margin-right: 1%;
    padding-left: 2px;
    color: #9E0000;
}
.accessRequests {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 60%;
    position: relative;
    top: 0;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
}
.accessrequestsList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accessrequestsList li {
    position: relative;
    height: 5vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #CECECE;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25) inset;
    margin-top: 4px;
}
.accessrequestsList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 0.5%;
    width: fit-content;
    min-width: 90%;
}
.accessrequestsList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.accessRequests::-webkit-scrollbar {
    display: none;
}
.accessRequestsEditButton{
    background-color: #444040;
    width: 2.5%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 1%;
    height: 70%;
    top: 15%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accessRequestsEditIcon{
    color: #FFFFFF;
    width: 110%;
    position: relative;
}
.approveAccessRequestButton {
    background-color: #444040;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 2% 8%;
    width: fit-content;
    height: 85%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-50%);
}
.ApproveAccessRequestButtonDiv {
    height: 80%;
    width: 6%;
    position: absolute;
    top: 50%;
    right: 3%;
    margin: 0;
    background-color: transparent;
}