.createUserOverlay {
    width: 50vw;
    height: 80vh;
    display: flex;
    border-radius: 30px;
    background: rgb(173, 173, 173);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 13%;
    right: 25%;
    margin: 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /*border: 3px solid #49D4D0;*/
}
.createUserBorder {
    border: 2px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 72vh;
    position: relative;
    top: 4vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.createUserBorder::-webkit-scrollbar {
    display: none;
}
.createUserBackButton {
    background-color: #49D4D0;
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.createUserBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.createUserLabel {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -3vh;
    left: 20%;
}
.nameLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.nameInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    height: 4vh;
}
.surnameLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.surnameInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 0;
    height: 4vh;
}
.emailLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.emailInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 0;
    height: 4vh;
}
.passwordLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.passwordInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 0;
    height: 4vh;
}
.roleLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}

.role_dropdown {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    /*width: 100%;*/
    margin-top: 1.5%;
}
.role_dropdown:after {
    transform: translateY(50%);
}
.createUserFinish {
    width: 20%;
    height: 5%;
    background-color: #49D4D0;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    justify-self: center;
    bottom: 2vh;
    padding: 0.5% 2%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    left: 40%;
    border: none;
    margin: 5% auto 0;
}

.createUserOverlay input {
    border-radius: 20px;
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.createUserOverlay input:focus{
    border: 2px solid #49D4D0;
}