.createDeviceOverlay {
    width: 50vw;
    height: 95vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    backdrop-filter: blur(20px);
    margin: 0 auto;
}
.createDeviceBorder {
    border: 1px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 89vh;
    position: relative;
    top: 4vh;
}
.backButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.backIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.createDeviceLabel {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: 20%;
}
.deviceNameLabel {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -2vh;
    margin: 0;
}
.deviceNameInput {
    font-size: 18px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: -5vh;
    left: 25%;
    position: relative;
}
.deviceTypeLabel {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1vh;
    margin-top: 1.5vh;
}
.deviceTypeInput {
    font-size: 18px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: 2vh;
    left: 25%;
    position: relative;
}
.deviceDescriptionLabel {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.deviceDescriptionInput {
    font-size: 16px;
    width: 50%;
    height: 5vh;
    border: none;
    margin-top: 2vh;
    left: 25%;
    position: relative;
    text-wrap: initial;
    resize: none;
    overflow-y: scroll;
}
.deviceNewLabel{
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1vh;
    margin-top: -1vh;
}
.newDropdown {
    font-size: 18px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: 2vh;
    left: 25%;
    position: relative;
    top: -0.5vh;
    align-content: center;
}
.deviceAvailabilityLabel{
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 0vh;
    margin-top: 0vh;
}
.availableDropdown {
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: 2vh;
    left: 25%;
    position: relative;
    top: -1vh;
    align-content: center;
}
.deviceStatusLabel{
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -0.5vh;
}
.statusDropdown {
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: -1vh;
    left: 0%;
    position: relative;
    top: -2vh;
    align-content: center;
    height: 1vh;
}
.currentCustodianLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -4vh;
}
.currentCustodianInput {
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    top: -3.5vh;
    margin: 0;
}
.previousCustodianLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -3vh;
}
.previousCustodianInput {
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    top: -2.5vh;
}
.createDevice_finish {
    width: 15%;
    height: 5%;
    background-color: rgba(233, 0, 0, 1);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: absolute;
    border: none;
    left: 42.5%;
    bottom: 2%;
}

