.createDeviceOverlay {
    width: 50vw;
    height: 75vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    backdrop-filter: blur(20px);
    margin: 0 auto;
}
.createDeviceBorder {
    border: 1px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 67vh;
    position: relative;
    top: 4vh;
}
.backButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.backIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.createDeviceLabel {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: 20%;
}
.deviceTypeLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.deviceTypeInput {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: 2vh;
    left: 25%;
    position: relative;
}
.deviceDescriptionLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.deviceDescriptionInput {
    font-size: 22px;
    width: 50%;
    height: 12vh;
    border: none;
    margin-top: 2vh;
    left: 25%;
    position: relative;
    text-wrap: initial;
    resize: none;
}
.assignedUserLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.assignedUserInput {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: 2vh;
    left: 25%;
    position: relative;
}
.createDevice_finish {
    width: 15%;
    height: 5%;
    background-color: rgba(233, 0, 0, 1);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    border: none;
    left: 42.5%;
    margin: 5% auto 0;
}
.deviceStatusLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 1.5vh;
}
.statusDropdown {
    text-transform: uppercase;
    font-size: 20px;
    width: 50%;
    margin-top: 1vh;
    text-align: center;
    border: none;
    text-align: center;
    align-content: center;
    height: 10%;
    left: 25%;
    position: relative;
}
