.createRiskOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popupBackground{
    width: 50%;
    height: 70%;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 25%;
}
.borderCreateRisk {
    border: 2px solid #858585;
    width: 94%;
    height: 92%;
    margin: 0 auto;
    position: relative;
    top: 4%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.borderCreateRisk::-webkit-scrollbar{
    display: none;
}
.createRiskBackButton {
    background-color: #00003E;
    border: none;
    position: relative;
    height: 6%;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.createRiskBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.pageTitle {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -3vh;
    left: 20%;
}
.riskNameLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.riskProbabilityLabel, .riskImpactLabel, .riskDescriptionLabel{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
    top: -1vh;
}
.riskStatusLabel, .riskSuggestedMitigationLabel{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
    top: -2vh;
}
.riskDataScopeLabel{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
    top: -3vh;
}
.riskNameInput {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    left: 15%;
    position: relative;
    width: 70%;
    background-color: #CECECE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    height: 4%;
    border-radius: 2px;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.riskDescriptionInput{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    left: 15%;
    position: relative;
    top: -1vh;
    width: 70%;
    background-color: #CECECE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    height: 4%;
    border-radius: 2px;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.riskSuggestedMitigationInput{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    left: 15%;
    position: relative;
    top: -2vh;
    width: 70%;
    background-color: #CECECE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    height: 4%;
    border-radius: 2px;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.riskSuggestedMitigationInput::-webkit-scrollbar{
    display: none;
}
.riskNameInput::-webkit-scrollbar{
    display: none;
}
.riskDescriptionInput::-webkit-scrollbar{
    display: none;
}
/*.riskSuggestedMitigationInput:focus{*/
/*    outline: none;*/
/*}*/
/*.riskNameInput:focus{*/
/*    outline: none;*/
/*}*/
.createRiskProbabilityDropdown{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    color: #CECECE;
    position: relative;
    width: 70%;
    left: 15%;
    top: -1vh;
}
.createRiskProbabilityDropdown:after {
    transform: translateY(50%);
}

.createRiskProbabilityDropdown .Dropdown-control{
    background-color: #CECECE;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    padding: 1% 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 5%;
}
.riskImpactDropdown{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    color: #CECECE;
    position: relative;
    width: 70%;
    left: 15%;
    top: -1vh;
}
.riskImpactDropdown:after {
    transform: translateY(50%);
}

.riskImpactDropdown .Dropdown-control{
    background-color: #CECECE;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    padding: 1% 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 5%;
}
.riskStatusDropdown{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    color: #CECECE;
    position: relative;
    width: 70%;
    left: 15%;
    top: -2vh;
}
.riskStatusDropdown:after {
    transform: translateY(50%);
}

.riskStatusDropdown .Dropdown-control{
    background-color: #CECECE;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    padding: 1% 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 5%;
}
.riskDataScopeDropdown{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    color: #CECECE;
    position: relative;
    width: 70%;
    left: 15%;
    top: -3vh;
}
.riskDataScopeDropdown:after {
    transform: translateY(50%);
}

.riskDataScopeDropdown .Dropdown-control{
    background-color: #CECECE;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    padding: 1% 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 5%;
}
.createRiskSubmitButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 0.5% 2%;
    width: fit-content;
    position: relative;
    height: 30%;
    margin: 2%  0;
    left: 15%;
    top: -1vh;
}
.createRiskError{
    display: none;
    color: #00003E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    position: relative;
}
.createRiskLoadTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    left: 15%;
    position: relative;
    width: 70%;
    background-color: #CECECE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    height: 4%;
    border-radius: 2px;
    padding: 0.5% 2%;
    top: -2vh;
}