.createDataScopeOverlay {
    width: 80vw;
    height: 85vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    backdrop-filter: blur(20px);
    margin: 0 auto;
}
.createdatascopeBorder {
    border: 1px solid #ffffff;
    width: 76vw;
    margin: 0 auto;
    height: 77vh;
    position: relative;
    top: 4vh;
}
.backButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.CreateDataScopeForm {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5vh;
}
.datascope_info {
    width: 100%;
    position: relative;
    left: 0%;
    top: 20%;
}
.datascope_addrole {
    width: 100%;
    height: 60vh;
    position: relative;
    left: 0%;
}

.backIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.datascopeLabel {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: 20%;
}
.datascopeNameLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
}
.datascopeNameInput {
    font-size: 22px;
    width: 70%;
    text-align: center;
    border: none;
    margin-top: 2vh;
    left: 15%;
    position: relative;
}
.descriptionLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
    margin-top: 2.5%;
}

.descriptionInput {
    font-size: 16px;
    width: 70%;
    height: 8vh;
    border: none;
    margin-top: 2vh;
    left: 15%;
    position: relative;
    text-wrap: initial;
    resize: none;
}
.roleLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
}
.table {
    position: relative;
    height: 30%;
    margin: 0 auto;
    align-self: center;
    top: 1vh;
    margin-top: 2.5%;
}
.roles_tbl {
    width: 70%;
    height: 30%;
    overflow-y: scroll;
    position: relative;
    left: -10%;
}
.role_Header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
}
.role_descrHeader {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
}
.roles_tbl td {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 50%;
    font-size: 14px;
    height: 3%;
}
.addrolenameLabel {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 100%;
}
.addrolenameInput {
    font-size: 22px;
    width: 70%;
    text-align: center;
    border: none;
    margin-top: 2vh;
    left: 15%;
    position: relative;
}
.addroledescriptionLabel {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 2.5%;
}

.addroledescriptionInput {
    font-size: 16px;
    width: 70%;
    height: 8vh;
    border: none;
    left: 15%;
    position: relative;
    text-wrap: initial;
    resize: none;
}
.datascope_finish {
    width: 15%;
    height: 5%;
    background-color: rgba(233, 0, 0, 1);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    border: none;
    top: -7vh;
    left: 42.5%;
    margin: 5% auto 0;
}
.AddRoleButton {
    width: 20%;
    height: 5%;
    background-color: rgb(58, 57, 57);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    top: 12vh;
    left: -10vw;
    border: none;
}
