.createTaskOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popupBackground{
    width: 50%;
    height: 70%;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 25%;
}
.borderCreateTask {
    border: 2px solid #858585;
    width: 94%;
    height: 92%;
    margin: 0 auto;
    position: relative;
    top: 4%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.borderCreateTask::-webkit-scrollbar {
    display: none;
}
.createTaskContent{
    position: relative;
    height: 70%;
    width: 100%;
    top: 0;
    left: 15%;
}
.createTaskBackButton {
    background-color: #9E0000;
    border: none;
    position: relative;
    height: 6%;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.createTaskBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.createTaskPageTitle {
    width: fit-content;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    margin: 0 auto;
}
.createTaskInputTitle {
    font-size: 20px;
    width: 70%;
    border: none;
    margin: 0;

}
.createTaskInputTextArea {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    position: relative;
    width: 70%;
    background-color: #CECECE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    height: 4%;
    border-radius: 2px;
}
.textboxInput {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
}
.createTaskSubmitButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 0.5% 2%;
    width: fit-content;
    position: relative;
    height: 30%;
    margin: 2%  0;
}
.createTaskStatusDropdown {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    color: #CECECE;
    position: relative;
    width: 70%;
    top: 12%;
}
.createTaskStatusDropdown:after {
    transform: translateY(50%);
}

.createTaskStatusDropdown .Dropdown-control{
    background-color: #CECECE;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    padding: 1% 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 5%;
}
.createTaskDataScopeDropdown {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    color: #CECECE;
    position: relative;
    width: 70%;
    top: 12%;
}
.createTaskDataScopeDropdown:after {
    transform: translateY(50%);
}

.createTaskDataScopeDropdown .Dropdown-control{
    background-color: #CECECE;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    padding: 1% 1%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 5%;
}
.createTaskDateInput {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    position: relative;
    width: 70%;
    top: 12%;
    background-color: #CECECE;
    padding: 1% 1%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}
