.createDeviceOverlay {
    width: 60vw;
    height: 90vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    backdrop-filter: blur(20px);
    margin: 0 auto;
}
.createDeviceBorder {
    border: 1px solid #ffffff;
    width: 56vw;
    margin: 0 auto;
    height: 82vh;
    position: relative;
    top: 4vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.createDeviceBorder::-webkit-scrollbar {
    display: none;
}
.backButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 5vh;
    width: 3vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.backIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 2vw;
    position: relative;
    padding: 0.5%;
}
.createDeviceLabel {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding: 0;
    left: 20%;
    top: -3vh;
}
.deviceNameLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.deviceNameInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
}
.deviceTypeLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.deviceTypeInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 1.5%;
}
.deviceDescriptionLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.deviceDescriptionInput {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 1.5%;
}
.deviceNewLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.newDropdown {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 1.5%;
}
.deviceAvailabilityLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.availableDropdown {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 1.5%;
}
.deviceStatusLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: 1vh;
}
.createDeviceStatusDropdown {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    margin-top: 1.5%;
}
.currentCustodianLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: -2vh;
}
.currentCustodianInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    top: -3vh;
}
.previousCustodianLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    top: -2vh;
}
.previousCustodianInput {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    border: none;
    left: 25%;
    position: relative;
    width: 50%;
    top: -3vh;
}
.createDeviceFinish {
    width: fit-content;
    height: 5%;
    background-color: rgba(233, 0, 0, 1);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    justify-self: center;
    bottom: 2vh;
    border: none;
    margin: 5% auto 0;
    padding: 0.5% 1%;
}
