.editUserOverlay {
    width: 50vw;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 13%;
    right: 25%;
    margin: 0 auto;
}
.editUserBorder {
    border: 2px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 72vh;
    position: relative;
    top: 4vh;
}
.editUserBackButton {
    background-color: #49D4D0;
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.editUserBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.editUserTitle {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: 20%;
}
.nameEdit {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.editNameInput {
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: none;
    margin-top: 1.5vh;
}
.surnameEdit {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.editSurnameInput {
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: none;
    height: 4vh;
    margin-top: 1.5vh;
}
.emailEdit {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.editEmailInput {
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: none;
    height: 4vh;
    margin-top: 1.5vh;
}
.roleEdit {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 1.5vh;
}
.roleDropdown {
    text-transform: uppercase;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    text-align: center;
    align-content: center;
    height: 4vh;
}
.roleDropdown:after {
    transform: translateY(50%);
}
.FinishButton {
    width: 20%;
    height: 5%;
    background-color: #49D4D0;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    justify-self: center;
    bottom: 0.5h;
    padding: 0.5% 2%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    left: 40%;
    border: none;
    margin: 5% auto 0;
}
.nameTitle {
    margin-bottom: 0.5vh;
}
.surnameTitle {
    margin-bottom: 0.5vh;
}
.emailTitle {
    margin-bottom: 0.5vh;
}
.roleTitle {
    margin-bottom: 0.5vh;
}
.editUserOverlay input {
    border-radius: 20px;
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.editUserOverlay input:focus{
    border: 2px solid #49D4D0;
}
