.editSupportRequestPopup {
    width: 50vw;
    height: 75vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    backdrop-filter: blur(20px);
    margin: 0 auto;
}
.editSupportRequestPopupBorder {
    border: 1px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 70vh;
    position: relative;
    top: 2.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.editSupportRequestPopupBorder::-webkit-scrollbar {
    display: none;
}
.editSupportRequestBackButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.editSupportRequestBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.editSupportRequestTitle {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -3vh;
    left: 20%;
}
.editSupportRequestTypeDiv {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 3%;
    margin-top: 2vh;
}
.editSupportRequestTypeLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    position: relative;
    left: 25%;
    margin-bottom: 1vh;
}
.editSupportRequestTypeDisplay {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #ffffff;
    position: relative;
    left: 25%;
    top: 8%;
}
.editSupportRequestUserDiv {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1%;
    margin-top: 2vh;
}
.editSupportRequestUserLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    position: relative;
    left: 25%;
    margin-bottom: 1vh;
}
.editSupportRequestUserDisplay {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #ffffff;
    position: relative;
    left: 25%;
    top: 8%;
}
.editSupportRequestDescriptionDiv {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0 auto;
    top: 0;
}
.editSupportRequestDescriptionLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin-bottom: 1vh;
    position: relative;
    left: 25%;
}
.editSupportRequestDescriptionDisplay {
    font-size: 16px;
    width: 50%;
    height: 15vh;
    text-align: left;
    border: none;
    background-color: #ffffff;
    top: 8%;
    position: relative;
    left: 0;
}
.editSupportRequestStatusDiv {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1%;
}
.editSupportRequestStatusLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    position: relative;
    left: 25%;
    margin-bottom: 1vh;
}
.editSupportRequestStatusDisplay {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #ffffff;
    position: relative;
    left: 25%;
    top: 8%;
}
