.inputPanel{
    width: 25%;
    height: 40%;
    /*background-size: cover;*/
    position: relative;
    top: 30%;
    left: 37.5%;
    /*background: transparent;*/
    border-radius: 8px;
    align-content: center;
    overflow: hidden;
    perspective: 1000px;
    background-color: rgba(201, 200, 197, 0.8999999761581421);
}
.emailPanel{
    height: auto;
    margin-top: 10vh;
}
.otpPanel{
    height: auto;
    margin-top: 6vh;
    display: none;
}
.passwordPanel{
    height: auto;
    margin-top: 8vh;
    display: none;
}
.title {
    width: 100%;
    margin: 0 auto;
}
.forgotTitle {
    color: rgba(56, 56, 56, 1);
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    height: 10%;
    position: relative;
    top: 5vh;
}
.emailTitle{
    width: fit-content;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    opacity: 1;
    margin: 0 auto 1vh;
}
.otpTitle{
    width: fit-content;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    opacity: 1;
    margin: 0 auto 1vh;
    position: relative;
    top: 8vh;
}
.passTitle{
    width: fit-content;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    opacity: 1;
    margin: 0 auto 1vh;
    position: relative;
    top: 8vh;
}
.rePassTitle{
    width: fit-content;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    opacity: 1;
    margin: 3vh auto 1vh;
    position: relative;
    top: 8vh;
}
.forgotEmail{
    text-transform: none;
    width: 60%;
    height: 3vh;
    color: black;
    position: relative;
    left: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    /*opacity: 1;*/
    text-align: center;
    border: 1px solid #414141;
    border-radius: 19px;
    background-color: #ffffff;
}
.forgotOTP{
    text-transform: none;
    width: 60%;
    height: 3vh;
    color: black;
    left: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    /*opacity: 1;*/
    text-align: center;
    border: 1px solid #414141;
    border-radius: 19px;
    background-color: #ffffff;
    position: relative;
    top: 8vh;
}
.otpError{
    width: fit-content;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    opacity: 1;
    margin: 0 auto 1vh;
    position: relative;
    top: 9vh;
}
.emailError{
    width: fit-content;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    opacity: 1;
    margin: 0 auto 1vh;
    position: relative;
    top: 1vh;
}
.forgotPass{
    text-transform: none;
    width: 60%;
    height: 3vh;
    color: black;
    position: relative;
    left: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    /*opacity: 1;*/
    text-align: center;
    border: 1px solid #414141;
    border-radius: 19px;
    background-color: #ffffff;
    top: 8vh;
}
.forgotRePass{
    text-transform: none;
    width: 60%;
    height: 3vh;
    color: black;
    position: relative;
    left: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    /*opacity: 1;*/
    text-align: center;
    border: 1px solid #414141;
    border-radius: 19px;
    background-color: #ffffff;
    top: 8vh;
}
.submit{
    width: fit-content;
    height: 10%;
    position: absolute;
    bottom: 2%;
    right: 2%;
    background: #00003e;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    border-color: transparent;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
}
.forgotPageTitle{
    color: rgba(56, 56, 56, 1);
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    height: 10%;
    position: relative;
}