.helpBackground{
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 90%;
    width: 98%;
    position: relative;
    margin: 0 auto;
}
.helpButton{
    background-color: transparent;
    border: none;
    outline: none;
}
.helpPopupIcon {
    font-size: 2em;
    color: #9E0000;
}
.helpTitle{
    font-size: 40px;
}
.helpSubTitle{
    font-size: 24px;
}
.helpData{
    font-size: 18px;
}
