.backdrop {
    background-color: #CECECE;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}
.toolbar {
    background-color: #FFFFFF;
    width: 100%;
    height: 6%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.toolbarLeft {
    display: flex;
    align-items: center;
    width: 40%;
}

.menuIcon {
    font-size: 24px;
    position: absolute;
    left: 4%;
}

.tabTitle {
    color: #000;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    left: 6%;

}
.toolbarRight{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: right;
}
.userDisplay{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size:16px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0;
    position: relative;
    right: 4%;
}
.avatar {
    height: 4%;
    fill: #383838;
    font-size: 2.4rem;
    position: relative;
    right: 2%;
}

.settingsDiv
{
    background-color: rgb(65, 64, 64);
    position: absolute;
    right: 4%;
    z-index: 40;
    width: 10%;
    height: 4%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    border: 1px solid white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.49);
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logoutLabel
{
    margin: 0 auto;
    color: white;
    cursor: pointer;
}




