* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v138_382 {
  height: 1080px;
  background: url("../Images/Welcome_New.png");
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.panel {
  width: 30%;
  height: 50%;

  background: no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
  position: relative;

  top: 25%;
  left: 35%;
  background: rgba(201,200,197,0.8999999761581421);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.49);

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}


.title
{
  width: 100%;
  margin: 0 auto;
  
}

.btnLogin {
  
  width: 20%;
  height: 10%;
  position: absolute;
  bottom: 5%;
  right: 4%;
  background: #CF0000;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  border-color: transparent;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px 
  


}

.logo {
 
  color: rgba(0,0,0,1);
  position: relative;
  top: 5.5rem;;
  width:17%;
  margin: 0 auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;

  opacity: 1;
  text-transform: uppercase;
}


.user{
  position: relative;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  align-items: center;

}
.username 
{
  width: 20%;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  opacity: 1;
  text-transform: uppercase;
  margin: 0 auto;
  
}

.untxt {
  width: 60%;
  height: 30%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 6%;
  left: 20%;
  font-family: 'Roboto', sans-serif;

  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  text-align: center;

  border: 1px solid #000000;
  border-radius: 19px;
}

.user_password
{
  position: relative;
  top: 32%;
  width: 100%;
  margin: 0 auto;
  align-items: center;

}

.pass {
  width: 20%;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  opacity: 1;
  text-transform: uppercase;
  margin: 0 auto;
}
.pwtxt {
  width: 60%;
  height: 30%;
  color: rgba(0,0,0,1);
  position: relative;
  top: 6%;
  left: 20%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  opacity: 1;
  text-align: center;
 
  border: 1px solid #000000;
  border-radius: 19px;

}

.name {
  color: #fff;
}


.forgot {
  width: 50%;
  color: rgba(0,0,0,1);
  position: absolute;
  bottom: 6%;
  left: -3%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;

  opacity: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.name {
  color: #fff;
}