.tabs {
    margin: 0 auto;
}
.tabs li {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    border: 1px solid #9e0000;
    width: fit-content;
    padding: 0.9%;
    white-space: nowrap;
}
.tabs li.active {
    background-color: #444040;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #444040;
}
.display {
    position: absolute;
    top: calc(88%);
    left: 3.1%;
    width: 96.6vw;
    height: 90vh;
    background: #444040;
}
.users {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    border-radius: 35px;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: content-box;
}
.userList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.userList li {
    position: relative;
    left: 3%;
    margin: 0;
    color: #000000;

    width: 96%;

    text-transform: none;
    /*padding: 0.5%;*/
    border: 1px solid #000000;
}
.userList li p {
    font-family: 'Roboto', sans-serif;
    height: 10%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.6vh;
    left: -0.4vw;
    height: 2.1vh;
}
.userList li:first-child {
    margin-top: 4%;
}
.CreateUserButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;

    margin: 0 auto;
    padding: 0.4%;
    width: 15%;
}
.CreateUserButtonDiv {
    position: relative;
    bottom: -10%;
}
.datascopes {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    border-radius: 35px;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: content-box;
}
.datascopesList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.datascopesList li {
    position: relative;
    left: 3%;
    margin: 0;
    color: #000000;

    width: 96%;

    text-transform: none;
    /*padding: 0.5%;*/
    border: 1px solid #000000;
}
.datascopesList li p {
    font-family: 'Roboto', sans-serif;
    height: 10%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.6vh;
    left: -0.4vw;
    height: 2vh;
}

.datascopesList li:first-child {
    margin-top: 4%;
}
.CreateDataScopeDiv {
    position: relative;
    bottom: -10%;
}
.CreateDataScopeButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;

    margin: 0 auto;
    padding: 0.4%;
    width: 15%;
}
.accessRequests {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    border-radius: 35px;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: content-box;
}
.accessrequestsList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accessrequestsList li {
    position: relative;
    left: 3%;
    margin: 0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 96%;
    font-size: 18px;
    text-transform: none;
    padding: 0.5%;
    border: 1px solid #000000;
}
.accessrequestsList li:first-child {
    margin-top: 4%;
}
.tasks {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    border-radius: 35px;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: content-box;
}
.taskList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.taskList li {
    position: relative;
    left: 3%;
    margin: 0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 96%;
    font-size: 18px;
    text-transform: none;
    padding: 0.5%;
    border: 1px solid #000000;
}
.taskList li:first-child {
    margin-top: 4%;
}
.buttons {
    position: relative;
    bottom: -10%;
    justify-content: center;
    display: flex;
}
.CreateTaskButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    left: 0%;
    padding: 0.4%;
    width: 15%;
}
.UpdateTaskButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    left: 0%;
    padding: 0.4%;
    width: 15%;
}
.RevokeTaskButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    left: 0%;
    padding: 0.4%;
    width: 15%;
}
.devices {
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    border-radius: 35px;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: content-box;
}
.deviceList li {
    position: relative;
    left: 2%;
    margin: 0;
    color: #000000;

    width: 96%;

    text-transform: none;
    /*padding: 0.5%;*/
    border: 1px solid #000000;
}
.deviceList li p {
    font-family: 'Roboto', sans-serif;
    height: 10%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.6vh;
    left: -0.4vw;
    height: 2vh;
}
.deviceList li:first-child {
    margin-top: 4%;
}
.AddDeviceButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    bottom: -10%;
    padding: 0.4%;
    width: 15%;
}
.AddDeviceDiv {
    position: relative;
    bottom: -10%;
}
.titles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tables {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.activeHeader {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    width: 40%;
    height: 20%;
}
.active_support_requests {
    background-color: #ffffff;
    width: 40%;
    height: 60%;
    border-radius: 35px;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: content-box;
}
.activeRequestsList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.activeRequestsList li {
    position: relative;
    left: 3.5%;
    margin: 0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 96%;
    font-size: 18px;
    text-transform: none;
    padding: 0.5%;
    border: 1px solid #000000;
}
.activeRequestsList li:first-child {
    margin-top: 4%;
}
.myHeader {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    width: 40%;
    height: 20%;
}
.my_support_requests {
    background-color: #ffffff;
    width: 40%;
    height: 60%;
    border-radius: 35px;
    overflow-y: auto;
    padding-right: 20px;
    box-sizing: content-box;
}
.myRequestsList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.myRequestsList li {
    position: relative;
    left: 3.5%;
    margin: 0;
    color: #000000;
    font-family: 'Roboto', sans-serif;

    width: 96%;
    font-size: 18px;
    text-transform: none;
    padding: 0.5%;
    border: 1px solid #000000;
}
.myRequestsList li:first-child {
    margin-top: 4%;
}
.CreateSupportRequestButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    bottom: -10%;
    padding: 0.4%;
    width: 15%;
}
.EditIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    height: 100%;
}
.DeleteIcon {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 1%;
    height: 100%;
    fill: #cf0000;
}
