.navbar {
    height: 100%;
    z-index: 100;
    display: flex;
}
.tabMenu
{
    background-color: #E90000;
    width: 20%;
    height: 50%;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 100;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 2);
}
.tabs {
    margin-top: 5%;
    margin-left: 2%;
    top: 3%;
    left: 1%;
    height: 50%;
    padding: 0;
    width: 50vw;
    color: #FFFFFF;
}
.tabs li {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: none;
    white-space: nowrap;
    padding-left: 0.8%;
    padding-right: 0.8%;
    width: fit-content;
    margin-top: 1vh;
}
.tabs li:not(.active) {
    border-bottom: none;
}
.tabs li.active {
    position: relative;
    text-decoration: underline ;
    text-decoration-color: #FFFFFF;
    font-weight: bold;
}
.display {
    position: absolute;
    top: 8%;
    left: 1%;
    width: 98%;
    height: 90vh;
    background: #4b4a4a;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border: 1px solid #ffffff;
    margin-top: -1px;
}
