.navbar {
    height: 100%;
}
.tabs {
    display: flex;
    margin-bottom: 2%;
    position: absolute;
    top: 3%;
    left: 1%;
    height: 5%;
    padding: 0;
    width: 50vw;
    z-index: 2;
}
.tabs li {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: none;
    white-space: nowrap;
    padding-left: 0.8%;
    padding-right: 0.8%;
    width: fit-content;
}
.tabs li:not(.active) {
    border: 1px solid #9e0000;
    border-bottom: none;
    margin-left: 0px;
    margin-right: 0px;
}
.tabs li.active {
    background-color: #4b4a4a;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    z-index: 3;
    position: relative;
    margin-top: 1px;
}
.display {
    position: absolute;
    top: 8%;
    left: 1%;
    width: 98%;
    height: 90vh;
    background: #4b4a4a;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border: 1px solid #ffffff;
    margin-top: -1px;
}
.users {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
}
.users::-webkit-scrollbar {
    display: none;
}
.userList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.userList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.userList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.userList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.CreateUserButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    padding: 0.5% 2%;
    width: fit-content;
}
.CreateUserButtonDiv {
    position: relative;
    bottom: -10%;
}
.datascopes {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
}
.datascopes::-webkit-scrollbar {
    display: none;
}
.datascopesList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.datascopesList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.datascopesList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.datascopesList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.CreateDataScopeDiv {
    position: relative;
    bottom: -10%;
}
.CreateDataScopeButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    padding: 0.5% 2%;
    width: fit-content;
}
.accessRequests {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
}
.accessrequestsList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accessrequestsList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.accessrequestsList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.accessrequestsList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.accessRequests::-webkit-scrollbar {
    display: none;
}
.tasks {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
}
.taskList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.taskList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.taskList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.taskList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.tasks::-webkit-scrollbar {
    display: none;
}
.buttons {
    position: relative;
    bottom: -10%;
    justify-content: center;
    display: flex;
}
.CreateTaskDiv {
    position: relative;
    margin: 0 auto;
    left: 0%;
}
.UpdateTaskDiv {
    position: relative;
    margin: 0 auto;
    left: 0%;
}
.RevokeTaskDiv {
    position: relative;
    margin: 0 auto;
    left: 0%;
}
.CreateTaskButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    width: 120%;
    padding: 3% 3%;
    text-wrap: none;
}
.UpdateTaskButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 3% 3%;
    width: 120%;
}
.RevokeTaskButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    left: 0%;
    padding: 3% 3%;
    width: 120%;
}
.devices {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
}
.devices::-webkit-scrollbar {
    display: none;
}
.deviceList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.deviceList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.deviceList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.deviceList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.AddDeviceButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    bottom: -10%;
    padding: 0.5% 2%;
    width: fit-content;
}
.AddDeviceDiv {
    position: relative;
    bottom: -10%;
}
.titles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tables {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.activeHeader {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    width: 40%;
    height: 20%;
}
.active_support_requests {
    background-color: transparent;
    width: 40%;
    margin: 0 auto;
    height: 60%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
    padding-right: 20px;
}
.activeRequestsList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.activeRequestsList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.activeRequestsList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.activeRequestsList li .EditIcon {
    position: absolute;
    right: 2%;
}
.activeRequestsList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.active_support_requests::-webkit-scrollbar {
    display: none;
}
.myHeader {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    width: 40%;
    height: 20%;
}
.my_support_requests {
    background-color: transparent;
    width: 40%;
    margin: 0 auto;
    height: 60%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
    padding-right: 20px;
}
.myRequestsList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.myRequestsList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.myRequestsList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.myRequestsList li .EditIcon {
    position: absolute;
    right: 2%;
}
.myRequestsList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.my_support_requests::-webkit-scrollbar {
    display: none;
}
.CreateSupportRequestButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    bottom: -10%;
    padding: 0.5% 2%;
    width: fit-content;
}
.EditIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5vw;
    height: 100%;
}
.DeleteIcon {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 1vw;
    height: 100%;
    fill: #cf0000;
}
.risks {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 10%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
}
.risks::-webkit-scrollbar {
    display: none;
}
.risksList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.risksList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.risksList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.risksList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.reviewRiskButton {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    height: 80%;
    width: fit-content;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    background-color: #bbbbbb;
    border: 1px solid #000000;
}
