.requestsBackground{
    background-color: transparent;
    border-radius: 4px;
    height: 90%;
    width: 98%;
    position: relative;
    margin: 0 auto;
}
.selectRequestDiv {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 4px;
    display: flex;
}
.requestTypeDiv{
    height: 10%;
    margin: 0 auto;
    vertical-align: center;
    width: 100%;
    position: relative;
    top: 45%;
}
.selectRequest {
    width: 25%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 5%;
    border: 3px solid #444040;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25) inset;
    border-radius: 4px;
}
/*.selectRequestLabel {*/
/*    color: #000000;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*    position: relative;*/
/*    top: 0;*/
/*}*/
.selectRequestDropdown {
    width: 70%;
    text-align: center;
    position: relative;
    top: 0;
    left: 15%;
    font-size: 16px;
    border: 3px solid #444040;
}
.requestDiv {
    width: 60%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25) inset;
    border-radius: 4px;
    border: 3px solid #444040;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.requestDiv::-webkit-scrollbar {
    display: none;
}
.createSupportRequestDiv {
    width: 40%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 30%;
}
.supportRequestTypeLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 0;
}
.supportRequestTypeDropdown {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    left: 0;
    font-size: 16px;
    border: 3px solid #444040;
}
.supportRequestDescriptionLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    margin: 3% auto 0;
}
.supportRequestDescription {
    width: 100%;
    height: 10%;
    position: relative;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    border: 3px solid #444040;
    background-color: white;
    margin: 0 auto;
}
.supportRequestDescription:focus{
    border: 2px solid #00003E;
    outline: none;
}
.supportRequestStatusLabel{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    margin: 2% auto 0;
}
.supportRequestStatusDropdown {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    left: 0;
    font-size: 16px;
    border: 3px solid #444040;
}
.createSupportRequestButtonDiv {
    position: relative;
    margin-top: 6%;
    width: 100%;
    height: 10%;
    left: 0;
}
.createSupportRequestButton {
    width: fit-content;
    background-color:  #383838;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    align-self: center;
    justify-self: center;
    border: none;
    padding: 0.5% 2%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.createAssetRequestDiv {
    width: 40%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 30%;
}
.createAssetRequestDeviceNameLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 0;
}
.assetRequestSelectDeviceDropdown{
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    font-size: 18px;
    border: 3px solid #444040;
}
.createAssetRequestReasonLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 0;
    margin: 2% auto 0;
}
.createAssetRequestReasonInput {
    background-color: #ffffffff;
    width: 100%;
    position: relative;
    top: 0;
    left: 0%;
    height: 9vh;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    text-align: left;
    border: 3px solid #444040;

}
.createAssetRequestReasonInput:focus{
    border: 2px solid #00003E;
    outline: none;
}
.createAssetRequestDateLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 0;
    margin: 2% auto 0;
}
.createAssetRequestDateInput {
    background-color: #ffffffff;
    width: 100%;
    outline: none;
    border: 3px solid #444040;
    position: relative;
    top: 0;
    left: 0;
    height: 4vh;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: center;
}
.createAssetRequestDateInput:focus{
    border: 2px solid #00003E;
    outline: none;
}
.createAssetRequestStatusLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 0;
    margin: 2% auto 0;
}
.assetRequestStatusDropdown{
    width: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    font-size: 18px;
    border: 3px solid #444040;
}
.createAssetRequestButtonDiv {
    position: relative;
    margin-top: 6%;
    width: 100%;
    height: 10%;
    left: 0;
}
.createAssetRequestButton {
    width: fit-content;
    background-color:  #383838;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    align-self: center;
    justify-self: center;
    border: none;
    padding: 0.5% 2%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.createAccessRequestDiv {
    width: 40%;
    height: 70%;
    position: relative;
    top: 15%;
    left: 30%;
}
.accessRequestDatascopeDropdown{
    width: 100%;
    text-align: center;
    position: relative;
    top: 2%;
    left: 0;
    font-size: 18px;
    border: 3px solid #444040;
}
.createAccessRequestDataScopeLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 0;
    margin: 2% auto 0;
}
.createAccessRequestUserLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 2% auto 0;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.createAccessRequestUserDropdown{
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    font-size: 18px;
    border: 3px solid #444040;
}
.createAccessRequestReasonLabel {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 2% auto 0;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.createAccessRequestReasonInput {
    background-color: #ffffffff;
    width: 100%;
    position: relative;
    left: 0;
    height: 9vh;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    text-align: left;
    outline: none;
    border: 3px solid #444040;
}
.createAccessRequestReasonInput:focus{
    outline: none;
    border: 2px solid #00003E;
}
.createAccessRequestButtonDiv {
    position: relative;
    margin-top: 6%;
    width: 100%;
    height: 10%;
    left: 0;
}
.createAccessRequestButton {
    width: fit-content;
    background-color:  #383838;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    align-self: center;
    justify-self: center;
    border: none;
    padding: 0.5% 2%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.loadTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    left: 0%;
    position: relative;
    width: 100%;
    margin-top: 0;
    background-color: white;
}

.createAccessRequestStatusLabel{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 1% auto 0;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.accessRequestStatusDropdown{
    width: 100%;
    text-align: center;
    position: relative;
    left: 0;
    font-size: 18px;
    border: 3px solid #444040;
}
.requestsHelpButton{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    left: 1vw;
    top: 2vh;
    z-index:1000;
}
.helpPopupIcon {
    font-size: 2em;
    color: #00003E;
}
