.reviewAssetRequestOverlay {
    width: 50vw;
    height: 75vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    margin: 0 auto;

}
.reviewAssetRequestBorder {
    border: 1px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 70vh;
    position: relative;
    top: 2.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.reviewAssetRequestBorder::-webkit-scrollbar{
    display: none;
}
.reviewAssetRequestBackButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.reviewAssetRequestBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.reviewAssetRequestLabel {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -3vh;
    left: 20%;
}
.reviewAssetRequestDeviceNameLabel{
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.reviewAssetRequestDeviceName{
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 1%;
}
.reviewAssetRequestUserLabel{
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    position: relative;
    top: 1%;
}
.reviewAssetRequestUser{
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 1%;
}
.reviewAssetRequestReasonLabel{
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    position: relative;
    top: 1%;
}
.reviewAssetRequestReason{
    font-size: 16px;
    width: 50%;
    text-align: left;
    border: none;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 1%;
    left: 25%;
    height: 10vh;
}
.reviewAssetRequestDateRequiredLabel{
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    position: relative;
    top: 1%;
}
.reviewAssetRequestDateRequired{
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 1%;
}
.reviewAssetRequestStatusLabel{
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    position: relative;
    top: 1%;
}
.reviewAssetRequestStatus{
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 1%;
}
.reviewAssetRequestButtonsDiv{
    display: flex;
    position: relative;
    top: 10%;
}
.reviewAssetRequestApproveButton{
    width: fit-content;
    height: fit-content;
    background-color: #227821;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    border: none;
    padding: 0.4% 1%;


}
.reviewAssetRequestRejectButton{
    width: fit-content;
    height: fit-content;
    background-color: rgba(233, 0, 0, 1);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    border: none;
    padding: 0.4% 1%;
}