.risksBackground{
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    height: 90%;
    width: 98%;
    position: relative;
    margin: 0 auto;
}
.searchRisks{
    display: flex;
    width: 100%;
    position: relative;
    right: 4.2vw;
    justify-content: right;
    height: 20%;
    top: 0;
}
.riskSearchInput{
    background-color: #CECECE;
    height: 3vh;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #383838;
    padding-right: 0;
    padding-left: 10px;
    position: relative;
    top: 45%;
}
.riskSearchInput:focus{
    border: 2px solid #9E0000;
}
.riskSearchIcon
{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0.5vh;
    margin-right: 1%;
    padding-left: 2px;
    color: #9E0000;

}
.risks {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 60%;
    position: relative;
    top: 0;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
}
.risks::-webkit-scrollbar {
    display: none;
}
.risksList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.risksListItem {
    position: relative;
    height: 5vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #CECECE;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25) inset;
    margin-top: 4px;
}
.risksListItemName {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.risksListItem:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.reviewRiskButton {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    height: 80%;
    width: fit-content;
    position: absolute;
    top: 50%;
    right: 2.5vw;
    transform: translateY(-50%);
    background-color: #bbbbbb;
    border: 1px solid #000000;
}
.CreateRiskButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 0.5% 2%;
    width: fit-content;
    position: relative;
    height: 30%;
    top: 35%;
}
.CreateRiskButtonDiv {
    position: relative;
    height: 20%;
    top: 0;
    width: 100%;
    left: 5%;
    padding: 0;
    margin: 0;
}
.EditIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
    height: 100%;
    z-index: 5;
}