.users {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 5%;
    overflow-y: scroll;
    box-sizing: content-box;
    scrollbar-width: none;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
}
.users::-webkit-scrollbar {
    display: none;
}
.userList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.userList li {
    position: relative;
    height: 4vh;
    color: #000000;
    width: 100%;
    text-transform: none;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}
.userList li p {
    font-family: 'Roboto', sans-serif;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 1%;
}
.userList li:hover {
    z-index: 4;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
}
.CreateUserButton {
    background: #373737;
    border: 1px solid #3a3a3a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    padding: 0.5% 2%;
    width: fit-content;
}
.CreateUserButtonDiv {
    position: relative;
    bottom: -10%;
}
.EditIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
    height: 100%;
    z-index: 5;
}
.DeleteIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    right: 0.5vw;
    height: 100%;
    fill: #cf0000;
}