.viewDataScopeOverlay {
    width: 60vw;
    height: 90vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    backdrop-filter: blur(10px);
    margin: 0 auto;
}
.borderDataScopeView {
    border: 1px solid #ffffff;
    width: 56vw;
    margin: 0 auto;
    height: 82vh;
    position: relative;
    top: 4vh;
}
.backButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.backIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.ViewDataScopeTitle {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: -2vh;
    left: 20%;
    text-transform: uppercase;
}
.view_datascope_name {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1vh;
    margin-top: 2vh;
}
.datascopeName {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewDataScopeName {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 1.5vh;
}
.view_datascope_description {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1vh;
    margin-top: 2vh;
}
.datascopeDescription {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewDSDescription {
    font-size: 16px;
    width: 50%;
    height: 6vh;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 1.5vh;
    text-transform: none;
    text-align: left;
    overflow-y: scroll;
}
.view_datascope_date {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 0.5vh;
    margin-top: 2vh;
}
.datascopeDate {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewDataScopeDate {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 1.5vh;
}
.view_datascope_status {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1vh;
    margin-top: 2vh;
}
.datascopeStatus {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewDataScopeStatus {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 1.5vh;
}

.datascopeRoles {
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    text-transform: uppercase;
    position: relative;
    top: 2.5vh;
}
.table {
    position: relative;
    height: 30%;
    margin: 0 auto;
    align-self: center;
    top: 1vh;
    left: 25%;
    margin-top: 2.5%;
}
.rolesTable {
    width: 50%;
    height: 30%;
    overflow-y: scroll;
}
.roleHeader {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 40%;
}
.roledescrHeader {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
}
.rolesTable td {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 50%;
    font-size: 14px;
    height: 3%;
}
