.viewUserOverlay {
    width: 50vw;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgb(173, 173, 173);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    margin: 0 auto;
    position: fixed;
    top: 13%;
    right: 25%;
}
.borderView {
    border: 2px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 72vh;
    position: relative;
    top: 4vh;
}
.viewUserBackButton {
    background-color: #49D4D0;
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.viewUserBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.viewUserTitle {
    width: 60%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -2vh;
    left: 20%;
}
.view_name {
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 4vh;
}
.nameDisplay {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewName {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2vh;
}
.view_surname {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 2vh;
}
.surnameDisplay {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    margin-top: 2vh;
}
.viewSurname {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2vh;
}
.view_email {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
}
.emailDisplay {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
    margin-top: 2vh;
}
.viewEmail {
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2vh;
}
.view_role {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1.5vh;
    margin-top: 2vh;
}
.roleDisplay {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewRole {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2vh;
}
.viewName, .viewSurname, .viewEmail, .viewRole {
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
