.viewDeviceOverlay {
    width: 50vw;
    height: 75vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(173, 173, 173, 0.69);
    backdrop-filter: blur(20px);
    margin: 0 auto;
}
.viewDeviceBorder {
    border: 1px solid #ffffff;
    width: 46vw;
    margin: 0 auto;
    height: 70vh;
    position: relative;
    top: 2.5vh;
}
.backButton {
    background-color: rgba(233, 0, 0, 1);
    border: none;
    position: relative;
    height: 4vh;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
}
.backIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.viewDeviceTitle {
    width: 100%;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: 1.5vh;
}
.viewDeviceTypeDiv {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 1vh;
    margin-top: 3vh;
}
.deviceTypeLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.deviceType {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2vh;
}
.viewDeviceDescriptionDiv {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 3vh;
}
.deviceDescriptionLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewDescription {
    font-size: 15px;
    width: 50%;
    height: 10vh;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2vh;
}
.viewDeviceStatusDiv {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 3vh;
}
.statusLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewStatus {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 1vh;
}
.viewDeviceAssignedDiv {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    color: #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 3vh;
}
.assignedLabel {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: none;
}
.viewAssigned {
    text-transform: uppercase;
    font-size: 22px;
    width: 50%;
    text-align: center;
    border: none;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 1vh;
}
