.viewDeviceOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popupBackground{
    width: 50%;
    height: 70%;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 25%;
}
.viewDeviceBorder {
    border: 2px solid #858585;
    width: 94%;
    height: 92%;
    margin: 0 auto;
    position: relative;
    top: 4%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.viewDeviceBorder::-webkit-scrollbar{
    display: none;
}
.viewDeviceBackButton {
    background-color: #00003E;
    border: none;
    position: relative;
    height: 6%;
    width: 2.5vw;
    align-content: center;
    border-radius: 5px;
    top: 2vh;
    left: 1vw;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.viewDeviceBackIcon {
    color: #ffffff;
    margin: 0 auto;
    height: 3vh;
    width: 1.3vw;
}
.viewDeviceLabel {
    width: fit-content;
    justify-content: center;
    color: #000000;
    text-align: center;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    top: -3vh;
    margin: 0 auto;
}
.viewDeviceNameLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceName{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
}
.viewDeviceTypeLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceType{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
}
.viewDeviceDescriptionLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceDescription{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.viewDeviceDescription::-webkit-scrollbar{
    display: none;
}
.viewDeviceNewLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceNew{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
}
.viewDeviceNewLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceNew{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
}
.viewDeviceAvailabilityLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceAvailability{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
}
.viewDeviceStatusLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceStatus{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
}
.viewDeviceCurrentCustodianLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDeviceCurrentCustodian{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
}
.viewDevicePreviousCustodianLabel {
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0;
    position: relative;
    left: 15%;
}
.viewDevicePreviousCustodian{
    font-size: 18px;
    width: 70%;
    border: none;
    margin: 0 auto;
    position: relative;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #CECECE;
    padding: 1% 1%;
    margin-bottom: 5vh;
}
