.nav {
    display: none;
}

.nav button {
    appearance: none;
    background-color: rgba(201, 200, 197, 0.8999999761581421);
    border: 2px solid red;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.nav button:disabled {
    pointer-events: none;
}

.nav button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.nav button:active {
    box-shadow: none;
    transform: translateY(0);
}

.home {
    top: 15px;
    height: 85%;
    width: 80%;
    margin: auto;
    border: 5px solid;
    padding: 10px;
    background-color: rgba(45, 44, 43, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav a {
    color: inherit;
    display: block;
    padding: 0.25em 1em;
}

.nav li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}
.nav ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.display {
    width: 95%;
    height: 80%;
    background-color: #ffffff;
    position: relative;
    margin: auto;
    border-radius: 25px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    display: flex;
}

.contain {
    height: 80%;
    width: 90%;
}
.supp1 {
    float: left;
    width: 49.5%;
    height: 95%;
    top: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    align-items: center;
    overflow-y: auto;
    position: relative;
}

.supp2 {
    float: right;
    width: 49.5%;
    height: 95%;
    top: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    align-items: center;
    overflow-y: auto;
    position: relative;
}

.supp1 ul,
.supp2 ul {
    list-style-type: none;
}

.supp1 li,
.supp2 li {
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding: 9px;
    background-color: azure;
    right: 15px;
}

.supp1::-webkit-scrollbar,
.supp2::-webkit-scrollbar {
    display: none;
}

.display::-webkit-scrollbar {
    display: none;
}

.display ul {
    height: 95%;
    width: 95%;
    list-style-type: none;
    position: relative;
}

.display li {
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding: 9px;
    background-color: azure;
}

#newUser {
    width: 30%;
    height: 5%;
    text-align: center;
    margin-bottom: auto;
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(104, 104, 102, 0.9);
}

#newDevice {
    width: 30%;
    height: 5%;
    text-align: center;
    margin-bottom: auto;
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(104, 104, 102, 0.9);
}
